<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
  </head>
  
  <body>
  
    <div class="wrapper">

      <header class="header">

      </header>

      <main class="main">

        <section class="content__item">

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/icon-access-anywhere.svg" alt="Icono de una computadora">
            </figure>                    
            <h4 class="item__title">Access your file, anywhere</h4>
            <p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas officiis labore excepturi magnam eaque vero temporibus</p>

          </article>

        </section>

      </main>

      <footer class="footer">

      </footer>

    </div>


 
    <ol>
      <li>Totoro</li>
      <li>Kiki</li>
      <li>Haku</li>
    </ol>
    <ul>
      <li><img src="/images/39.png" alt="Lindos"></li>
      <li><img src="/images/8.png" alt="Lindos"></li>
      <li><img src="/images/3.png" alt="Lindos"></li>
    </ul>
  </body>

</html>