<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
  </head>

  <body>
  
    <div class="wrapper">

      <header class="header-main">

        <div class="navigation-header__up">

          <figure class="image__logo">
            <img src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
          </figure>

          <form action="/search-bar" method="POST" class="form">
            <div class="control-form">
              <input type="text" name="nickname__user" placeholder="Buscar productos, marcas y mas" class="control" required><i class="fas fa-search"></i>
            </div>
          </form>

          <p class="info">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </p>
          
        </div>

        <div class="navigation-header__down">

          <nav class="nav">
            <ul class="nav-list" type=None>
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
            </ul>
          </nav>

          <nav class="nav">
            <ul class="nav-list" type=None>
              <li>
                <a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
              </li>
              <li>
                <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
              </li>
              <li>
                <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
              </li>
            </ul>
          </nav>

        </div>

        <div class="burger-menu">
          <a href="#"><i class="fas fa-bars"></i></a>
        </div>

      </header>

      <main class="main">

        <h2 class="content__title">Basado en tu última visita</h2>

        <section class="content-vist__item">

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen de una Cafetera">
            </figure>
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>
            <div class="item__status">
              <p class="item__price">$6.770</p>
              <p class="item__offer">40% OFF</p>
            </div>            
            <h3 class="item__title">Cafetera Moulinex</h3>

          </article>

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-macbook-pro-2019.jpg" alt="Imagen de un MacBook">
            </figure>
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>  
            <div class="item__status">
              <p class="item__price">$230.000</p>
              <p class="item__offer">20% OFF</p>
            </div>                       
            <h3 class="item__title">MacBook Pro 2019</h3>

          </article>

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen de un Samsung Galaxy">
            </figure> 
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>   
            <div class="item__status">
              <p class="item__price">$70.500</p>
              <p class="item__offer">10% OFF</p>
            </div>    
            <h3 class="item__title">Samsung Galaxy S10</h3>

          </article>

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-tv-samsung-smart.jpg" alt="Imagen de un SmartTv">
            </figure>
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div> 
            <div class="item__status">
              <p class="item__price">$23.200</p>
              <p class="item__offer">5% OFF</p>
            </div>            
            <h3 class="item__title">SmartTv Samsung 43"</h3>

          </article>

        </section>

        <h2 class="content__title">Ofertas</h2>

        <section class="content-offer__item">

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen de una Cafetera">
            </figure>
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>
            <div class="item__status">
              <p class="item__price">$6.770</p>
              <p class="item__offer">40% OFF</p>
            </div>            
            <h3 class="item__title">Cafetera Moulinex</h3>

          </article>

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-macbook-pro-2019.jpg" alt="Imagen de un MacBook">
            </figure>
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>  
            <div class="item__status">
              <p class="item__price">$230.000</p>
              <p class="item__offer">20% OFF</p>
            </div>                       
            <h3 class="item__title">MacBook Pro 2019</h3>

          </article>

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen de un Samsung Galaxy">
            </figure> 
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>   
            <div class="item__status">
              <p class="item__price">$70.500</p>
              <p class="item__offer">10% OFF</p>
            </div>    
            <h3 class="item__title">Samsung Galaxy S10</h3>

          </article>

          <article class="main-content__access">

            <figure class="item__img">
              <img src="./images/img-tv-samsung-smart.jpg" alt="Imagen de un SmartTv">
            </figure>
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div> 
            <div class="item__status">
              <p class="item__price">$23.200</p>
              <p class="item__offer">5% OFF</p>
            </div>            
            <h3 class="item__title">SmartTv Samsung 43"</h3>

          </article>

        </section>

      </main>

      <footer class="footer">

        <div class="footer-content">

          <div class="content">
            <div class="icon-footer">
              <i class="fas fa-credit-card"></i>
            </div>
            <h5 class="content__title">Pagá con tarjeta o en efectivo</h5>
            <p class="content__description">Con Mercado Liebre Cash,tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </div>
          <div class="content">
            <div class="icon-footer">
              <i class="fas fa-gift"></i>
            </div>
            <h5 class="content__title">Envío gratis desde $ 2.500</h5>
            <p class="content__description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de Mercado Puntos.</p>
          </div>
          <div class="content">
            <div class="icon-footer">
              <i class="fas fa-user-shield"></i>
            </div>
            <h5 class="content__title">Seguridad, de principio a fin</h5>
            <p class="content__description">¿Notegusta?¡Devolvelo! En Mercado Liebre,no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
          </div>  
          
        </div>
        
        <div class="content">
          <h5 class="content__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>

      </footer>

    </div>

  </body>

</html>